<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class="logo_style" src="../../../assets/images/logo.jpg">  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLink="./home"  routerLinkActive="test">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./about"  routerLinkActive="test">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./contactUs"  routerLinkActive="test">Contact</a>
        </li>
       
      </ul>
    </div>
  </nav>

